<nav class="navbar c-navigation navbar-custom row">
    <div class="navbar-header c-navigation__header">
        <button type="button" class="visible-xs c-navigation__header--toggle">
            <span class="c-navigation__header--iconbar"></span>
            <span class="c-navigation__header--iconbar"></span>
            <span class="c-navigation__header--iconbar"></span>
        </button>
    </div>
    <div class="c-navigation__overlay col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
        <div class="c-navigation__container" id="cartierNavigation">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)">Joaillerie</a></li>
                <li><a href="javascript:void(0)">Horlogerie</a></li>
                <li><a href="javascript:void(0)">Parfums</a></li>
                <li><a href="javascript:void(0)">Mariage</a></li>
                <li><a href="javascript:void(0)">Accessoires</a></li>
                <li><a href="javascript:void(0)">Cadeaux</a></li>
                <li><a href="javascript:void(0)">La Maison</a></li>
            </ul>
        </div>
    </div>
</nav>