<nav>
    <ul>
        <li>Joaillerie</li>
        <li>Horlogerie</li>
        <li>Parfums</li>
        <li>Mariage</li>
        <li>Accessoires</li>
        <li>Cadeaux</li>
        <li>La Maison</li>
    </ul>
</nav>