.c-navigation__overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px; /*Support for only devices with width 320px and greater*/
    background-color: rgba(6, 6, 6, 0);
    transition: background-color 0.5s ease-in;
}

.c-navigation__overlay.color-transform {
    background-color: rgba(6, 6, 6, 0.5);
}

.c-navigation__container {
    display: block;
    width: 80%;
    height: 100%;
    min-width: 256px; /*80% of 320px which is min-width of overlay*/
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.c-navigation__container.translated {
    transform: translateX(0);
}

.c-navigation__container .navbar-nav {
    margin: 0;
}

.c-navigation__container .nav > li > a {
    color: #3f3f3f;
}

.c-navigation__container .nav > li > a:hover {
    color: #000;
    background-color: transparent;
    background-image: none;
}

.c-navigation__header--toggle {
    position: relative;
    padding: 9px 10px;
    float: left;
    margin: 8px 0 8px 15px;
    background-color: transparent;
    background-image: none;
    border: none;
}

.c-navigation__header--toggle .c-navigation__header--iconbar {
    display: block;
    width: 18px; /*Overrides default width 22px*/
    height: 2px;
    background-color: #2f2f2f;
    border-radius: 1px;
}

.c-navigation__header--toggle .c-navigation__header--iconbar + .c-navigation__header--iconbar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .c-navigation__overlay {
        position: static;
        text-align: center;
    }

    .c-navigation__overlay, .c-navigation__overlay.color-transform {
        background-color: transparent;
        background-image: none;
    }

    .c-navigation__container {
        display: inline-block;
        background-color: transparent;
        background-image: none;
        width: auto;
        transform: none;
    }
}