<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Proof of concepts</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/fonts.css" />
        <link rel="stylesheet" href="/static/css/common.css" />
        <link rel="stylesheet" href="/static/css/cartierNavigation.css" />
    </head>
    <body>
        <div class="container-fluid">
            <!-- Include components here -->
            <% include ./components/header %>
        </div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/js/cartierNavigation.js"></script>
    </body>
</html>